@model IEnumerable<shop.Web.Models.CustomerModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice</h1>

<p>
    <a asp-action="Create">Crear cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
          
            <th>
                @Html.DisplayNameFor(model => model.companyname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contactname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contacttitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
      
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.companyname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contactname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.contacttitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id= item.custid }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.custid })

                </td>
            </tr>
}
    </tbody>
</table>
